<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="CollabBuyDB"
			 connectionString="Host=localhost;Port=5432;Database=collabbuy_db;Username=postgres;Password=22rachel555"
			 providerName="Npgsql" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>